<%= form_for(@retrospective) do |f| %>
  <% if @retrospective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@retrospective.errors.count, "error") %> prohibited this retrospective from being saved:</h2>

      <ul>
      <% @retrospective.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="form-group">
      <%= f.label "Sprint finished" %>
      <%= text_field_tag :sprint_name, @sprint.name, disabled: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label "What went well in the current sprint?" %>
      <%= f.text_area :description_good, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label "What went wrong in the current sprint?" %>
      <%= f.text_area :description_bad, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label "What can be improved?" %>
      <%= f.text_area :description_future, class: 'form-control' %>
    </div>

    <%= f.hidden_field :sprint_id, value: @sprint.id %>
    <%= f.hidden_field :project_id, value: @project.id %>
    
    <div class="form-group">
      <%= f.submit %>
    </div>
  </div>
<% end %>
